<!-- About Section -->
    <section id="abstract">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Abstract</h2>
                      <div class= "text-corps"> "Think Global buy local" is a rising motto used to address sustainable food trade. Indeed, a lot of food is continuously imported throughout the year. Although seasonal products are highly produced during their respective month, they still constitute a non-negligeable share of the imported products.
<br/><br/>Buying local food keeps land in production and promotes local economic development by creating jobs and increasing trade. Local production also reduces food safety risks and raises transparency about the food that we buy.  In addition, avoiding long transportation by plane or by boat reduces greenhouse gas emission.
This datastory is about analyzing what are the dynamics of French seasonal food importations and hopefully will help change ways of consumptions towards a more sustainable food trade.
                      </div>
                    <h4 class = "section-subheading">Research Questions</h4>
                    <div class= "text-corps">
                      <ul>
                        <li>From which countries does French seasonal food products mainly come from ?</li>
                        <li>What are the main categories of seasonal products being imported?
                      </li>
                        <li>Are we importing products during their season of production?  </li>
                        <li>What is the distance distribution for the main imported food categories during the year?</li>
                        <li>When is the right time to buy specific products? </li>
                      </ul>
                    </div>
                    <h4 class = "section-subheading">Sources</h4>
                    <div class= "text-corps">
                      Our analysis is mostly based on informations regarding food imports registered at France customs, resumed in a dataset from the  <a href="https://www.data.gouv.fr/en/datasets/statistiques-nationales-du-commerce-exterieur/#">French government website</a>. It gathers information about how much products were imported each month in 2016, for each food category and from where these products come from.
  <br/>Food importations are compared to annual food productions in 2016 from the <a href="http://www.fao.org/faostat/fr/#data/QC">FAO database</a>. It lists the production mass for each food category.
  <br/>We also needed information regarding the months in which a product is seasonal in France: These informations were obtained from <a href="https://www.greenpeace.fr/guetteur/calendrier">Greenpeace Calendar</a>.
                    </div>
                </div>
            </div>
        </div>
    </section>
