<!-- About Section -->
    <section id="abstract">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Abstract</h2>
                      <div class= "text-corps"> "Think Global buy local" is a rising motto used to address sustainable food trade.
                        Indeed, a lot of food is continuously imported to have constant stock independently of seasonal products. While it may be required to import some products, others could be replaced by local production.
                        Buying local food keeps land in production and promotes local economic development by creating jobs and increasing trade. Local production also reduces food safety risks and raises transparency of the food that we buy.
                        In addition, avoiding long transportation by plane or by boat reduces greenhouse gas emission.
                        Our analysis aims at making people aware of ecological concerns of food importation in France and hopefully changing ways of consumptions towards a more sustainable food trade.
                      </div>
                    <h4 class = "section-subheading">Research Questions</h4>
                    <div class= "text-corps">
From which countries does French food products mainly come from ?
What are the main categories of food products being imported?
Are we importing products during the season in which they could be produced in France? Is this importation justified?
What is the distance distribution for the main imported food categories during the year?
Is the food imported in France really for humans?
                    </div>
                    <h4 class = "section-subheading">Sources</h4>
                    <div class= "text-corps">
                    To perform our analysis, we used multiple datasets concerning importation and production In France:
Our dataset concerning  importation in France was found on the [french government website](https://www.data.gouv.fr/en/datasets/statistiques-nationales-du-commerce-exterieur/#_). It gathers information about how much products were imported each month in 2016, for each food category and from where these products come from.
Our dataset concerning production in France in 2016 was found on the [FAO website](http://www.fao.org/faostat/fr/#data/QC) and list the production mass for each food category.
We also needed information regarding the months in which a product is seasonal in France: These informations were obtained by webscrapping  of the following website: Greenpeace.fr[https://www.greenpeace.fr/guetteur/calendrier].
The combination of these dataset gives some good insights regarding food origin in France, but also allow us to see if the importations in France are justified.
                    </div>
                </div>
            </div>
        </div>
    </section>
