<!-- About Section -->
    <section id="abstract">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Abstract</h2>
                  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
                    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

                  <div class="container">
                    <button type="button" class="btn btn-info" >Intro</button>
                    <button type="button" class="btn btn-success">Dataset</button>
                    <button type="button" class="btn btn-warning">Questions</button> 
                      
                    <div class="collapse multi-collapse in", id="intro", align="left">
                      Cooking is an important skill for everyone, no matter where they live. After evolving for centuries, what people eat everyday has grown into systems. Every country has their own style of eating and the styles vary from region to region. <br><br>

                      Through the recipes, we can know what is frequently eaten by the people of one country and how they usually cook. We can even go further, find the relationships between what people eat and how their health conditions are, and dig out all the secrets behind the recipes.
                    </div>
                    <div class="collapse multi-collapse", id="dataset", align="left">
                      The two datasets about recipes we used are collected from  <a href="https://www.kaggle.com/shuyangli94/food-com-recipes-and-user-interactions" style="background-color: white; color: #{{ site.data.template.color.primary }};">Kaggle</a>. One of them contains 230185 different recipes scraped from <a href="https://www.food.com/" style="background-color: white; color: #{{ site.data.template.color.primary }};">Food.com</a> and includes information about the cooking steps, ingredients, time needed, tags, etc. Through the tags of the recipes, we could figure out where the dish originates from. By matching the countries with recipes, we get 96286 recipes from 51 different countries.

                      <br><br>
                      To study the relationship between recipes and health, we use datasets about <a href="https://www.who.int/data/gho/data/themes/noncommunicable-diseases/GHO/noncommunicable-diseases" style="background-color: white; color: #{{ site.data.template.color.primary }};">noncommunicable diseases</a> and <a href="https://www.who.int/data/gho/data/themes/theme-details/GHO/body-mass-index-(bmi)" style="background-color: white; color: #{{ site.data.template.color.primary }};">body mass index</a> (BMI) from WHO in 2016.
                       The GNI(Gross national income) dataset from <a href="https://data.worldbank.org/indicator/NY.GNP.PCAP.CD" style="background-color: white; color: #{{ site.data.template.color.primary }};">The World Bank</a> is also used to balance the influence of economy on citizens' health conditions.


                    </div>
                    <div class="collapse multi-collapse", id="questions", align="left">
                     <i class="fa fa-hand-o-right"></i> How do eating habits vary in different countries?<br>
                  - the most frequently used seasoning, cooking methods, ingredients <br><br>

                   <i class="fa fa-hand-o-right"></i>How similar the way of cooking in different countries?<br><br>
                  <i class="fa fa-hand-o-right"></i> How are the different eating habits related to health?<br>
                  - analyze correlation between some health indices like the life span, overweight rate, high blood pressure, etc with common seasonings and nutrition content        
                    </div>
                  </div>
                


                  <script>
                  $(document).ready(function(){



                    $(".btn-info").click(function(){
                      $("#intro").collapse({toggle: false});
                      $("#dataset").collapse({toggle: false});
                      $("#questions").collapse({toggle: false});
                      $("#intro").collapse('show');
                      $("#dataset").collapse('hide');
                      $("#questions").collapse('hide');
                    });
                    $(".btn-success").click(function(){
                       $("#intro").collapse({toggle: false});
                      $("#dataset").collapse({toggle: false});
                      $("#questions").collapse({toggle: false});
                      $("#intro").collapse('hide');
                      $("#dataset").collapse('show');
                      $("#questions").collapse('hide');
                    });
                    $(".btn-warning").click(function(){
                       $("#intro").collapse({toggle: false});
                      $("#dataset").collapse({toggle: false});
                      $("#questions").collapse({toggle: false});
                      $("#intro").collapse('hide');
                      $("#dataset").collapse('hide');
                      $("#questions").collapse('show');
                    });
                  });
                  </script>

             </div>
            </div>
        </div>
    </section> 


  


