<!-- Data Section -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script> 
<section id="datastory">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">

                <h2 class="section-heading">What do they prefer?</h2>
                  <div class= "text-corps">
Not only your accent can tell us where you are from, what you eat can do the same! There may be stereotypes that all French love cheese or all Chinese have rice for lunch. But in general human beings living in the same area tend to eat alike. These habits are inherited from our ancestors and latently label us who we are. <br><br>
We compute the frequency of the ingredients and cooking methods for all the countries. Seasonings are seperated from the ingredients, since they are in charge of deciding whether the dish is sweet or salty and characterize more of people's eating habit. A guy in Europe and a guy in Asia may both choose to have chicken for lunch, yet how they adjust the flavor can be totally different. 
                  </div>

<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<style>
.mySlides {display:none;}
</style>
<body>
<div class="w3-container">
  <h2>Top 30 Seasonings</h2>
</div>
<div class= "text-corps">
 Recall that we identify 51 coutries in total. Therefore, as universal flavorings, salt, salt, pepper, onion, oil, sugar and butter almost appear in recipes of all countries studied. In contrast, at the bottom of the sorted frequency list, we may recognize some regional specialties. We choose several representative countries: <b>Italy, France, Vietnam, Malaysia, Korea, China</b> and <b>Japan</b>. 
</div>
 <div class="post-container">                
    <div class="post-thumb-r">
<div class="w3-content w3-display-container">

<div class="w3-display-container mySlides1">
  <img src="img/seasoning/italy.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Italy
  </div>
</div>
<div class="w3-display-container mySlides1">
  <img src="img/seasoning/france.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    France
  </div>
</div>
<div class="w3-display-container mySlides1">
  <img src="img/seasoning/vietnam.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Vietnam
  </div>
</div>
<div class="w3-display-container mySlides1">
  <img src="img/seasoning/malaysia.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Malaysia
  </div>
</div>
<div class="w3-display-container mySlides1">
  <img src="img/seasoning/china.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    China
  </div>
</div>
<div class="w3-display-container mySlides1">
  <img src="img/seasoning/korea.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Korea
  </div>
</div>
<div class="w3-display-container mySlides1">
  <img src="img/seasoning/japan.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Japan
  </div>
</div>
<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 0)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 0)">&#10095;</button>
</div></div>
    <div class="post-content-r">
        <div class= "text-corps"> 
           <br><br>
        <i class="fa fa-arrow-circle-right"></i> Spaghetti is traditional italian cuisine, so it is not surprising that spaghetti sauce is frequently used in Italy. One would never expect that to happen in the Asia countries. <br><br>
        <i class="fa fa-arrow-circle-right"></i> Used as a pungent condiment for sushi, wasabi is indispensible in most of the japanese recipes. <br><br>
        <i class="fa fa-arrow-circle-right"></i> Tarragon is one of the four "fines herbes" of French cooking, and is particularly suitable for chicken, fish, and egg dishes. <br><br>
        <i class="fa fa-arrow-circle-right"></i> Soy sauce and rice wine vinegar are very popular in East Asia. <br><br>
        <i class="fa fa-arrow-circle-right"></i> Star anise is widely used in Asia and it is also a major ingredient in the making of phở, a Vietnamese noodle soup.
         </div>
       </div>
</div>


<div class="w3-container">
  <h2>Top 15 Cooking Methods</h2>
</div>
<div class= "text-corps">
  The frequently used cooking methods of <b>China, Germany, France, Japan, Italy, Korea</b> and <b>Palestine</b> are displayed. Basic methods like boil, simmer, drain and bake are largely present in recipes of various countries for food cooking. 
</div>

<div class="post-container">                
    <div class="post-thumb-l">
<div class="w3-content w3-display-container">

<div class="w3-display-container mySlides2">
  <img src="img/method/china.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    China
  </div>
</div>

<div class="w3-display-container mySlides2">
  <img src="img/method/germany.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Germany
  </div>
</div>
<div class="w3-display-container mySlides2">
  <img src="img/method/france.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    France
  </div>
</div>
<div class="w3-display-container mySlides2">
  <img src="img/method/japan.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Japan
  </div>
</div>
<div class="w3-display-container mySlides2">
  <img src="img/method/italy.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Italy
  </div>
</div>
<div class="w3-display-container mySlides2">
  <img src="img/method/korea.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Korea
  </div>
</div>
<div class="w3-display-container mySlides2">
  <img src="img/method/palestine.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Palestine
  </div>
</div>
<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 1)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 1)">&#10095;</button>
</div>
</div>
<div class="post-content-l">
  <div class= "text-corps">
    <br><br>
  <i class="fa fa-arrow-circle-right"></i> Broil is popular in korean recipes mainly because of "Korean BBQ". <br><br>
  <i class="fa fa-arrow-circle-right"></i> Italian recipes and japanese recipes reflect respectively typical western and asian food cooking habits. Both of them are mostly prepared by draining, boiling and simmering, which is the case of most of the countries. 
  <br><br>
  <i class="fa fa-arrow-circle-right"></i> However, They still slightly differ from each other: marinate is more present as a food preprocessing step in japanese recipes while baking appears more frequently in italian recipes. Such difference is reasonable since food made by baking (for instance bread and cake) is essential in western diet while marinate plays an important role in east-asian cuisine for refining the taste of ingredients.
</div>
</div>
</div>



<div class="w3-container">
  <h2>Top 30 Main Ingredients</h2>
</div>
<div class= "text-corps">
Beside seasonings, other ingredients are also interesting. We choose eight countries as representatives: <b>Italy, Switzerland, France, Netherlands, Greece, China, Japan</b> and <b>Korea</b>. 
</div>
<div class="post-container">                
    <div class="post-thumb-r">
<div class="w3-content w3-display-container">

<div class="w3-display-container mySlides3">
  <img src="img/ingredients/italy.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Italy
  </div>
</div>

<div class="w3-display-container mySlides3">
  <img src="img/ingredients/swiss.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Switzerland
  </div>
</div>
<div class="w3-display-container mySlides3">
  <img src="img/ingredients/france.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    France
  </div>
</div>
<div class="w3-display-container mySlides3">
  <img src="img/ingredients/netherlands.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Netherlands
  </div>
</div>
<div class="w3-display-container mySlides3">
  <img src="img/ingredients/greece.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Greece
  </div>
</div>
<div class="w3-display-container mySlides3">
  <img src="img/ingredients/china.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    China
  </div>
</div>
<div class="w3-display-container mySlides3">
  <img src="img/ingredients/korea.png" style="height:500px;width:600px">
  <div class="w3-display-bottomleft w3-large w3-container w3-padding-16 w3-black">
    Korea
  </div>
</div>

<div class="w3-display-container mySlides3">
  <img src="img/ingredients/japan.png" style="height:500px;width:600px">
  <div class="w3-display-bottomright w3-large w3-container w3-padding-16 w3-black">
    Japan
  </div>
</div>
<button class="w3-button w3-black w3-display-left" onclick="plusDivs(-1, 2)">&#10094;</button>
  <button class="w3-button w3-black w3-display-right" onclick="plusDivs(1, 2)">&#10095;</button>
</div>
</div>
<div class="post-content-r">
<div class= "text-corps">
   <br><br>
<i class="fa fa-arrow-circle-right"></i> Cheese is very popular in European countires, and each country has their own favor towards cheese: ricotta and mozzarella cheese for Italy, gouda cheese for Netherlands, gruyere and emmenthaler cheese for Switzerland. Sushi rice and shiitake mushroom appear frequently in Japan's recipes yet one will never see them among all other 50 countries' top 30 main ingredients.
<br><br>
<i class="fa fa-arrow-circle-right"></i> These particular kinds of ingredients appear in more than 10% of the countries' recipes. Specifically, parmesan cheese is used in more than a third of italian recipes and feta cheese is also very popular in greek recipes.
</div>
</div>
</div>



<h2 class="section-heading">Are they similar?</h2>
<div class="post-container">                
    <div class="post-thumb-l"><iframe stype="float:right" width="700px" height="700px" frameborder="0" scrolling="no" src="//plot.ly/~huajian1069/10.embed?width=100%"></iframe></div>
    <div class="post-content-l">
        <div class= "text-corps"> 
           <br><br> <br><br>
        Recipes themselves may differ a lot, but it is a natural and reasonable idea that recipes from the same country would be similar. This may be due to the fact that the ingredients the recipes used should be easily gained from local areas and be preferred by natives. <br><br>
        To give a better and clearer idea that recipes from the same country look alike, we use PCA and t-SNE to help us visualize the relationship among recipes. The steps in the recipes that teach people how to cook are processed using NLP techiniques and are then converted to vectors using bag of words in a space with thousands of dimension. Finally, using the dimension reduction methods mentioned above, the vectors representing recipes are shown in a three-dimensional space.<br><br>
        
         </div>
       </div>
</div>



<script>
var slideIndex = [1,1,1];
var slideId = ["mySlides1", "mySlides2", "mySlides3"]
showDivs(1, 0);
showDivs(1, 1);
showDivs(1, 2);
function plusDivs(n, no) {
  showDivs(slideIndex[no] += n, no);
}

function showDivs(n, no) {
  var i;
  var x = document.getElementsByClassName(slideId[no]);
  if (n > x.length) {slideIndex[no] = 1}
  if (n < 1) {slideIndex[no] = x.length}
  for (i = 0; i < x.length; i++) {
    x[i].style.display = "none";  
  }
  x[slideIndex[no]-1].style.display = "block";  
}


</script>

</body>



            </div>
        </div>
    </div>
</section>
