<!-- Data Section -->
<section id="datastory">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Datastory</h2>
                  <div class= "text-corps">
For further analysis, we chose to study only products that can be produced in France. “Exotic” products like bananas or coconut are not taken in account. We assumed that these products are constantly imported all year, and the justification of this importation does not change according to the season in France, as they can never be produced in France. Therefore, our tools are not representative of total food importation in France.
                  </div>
                  <h4 class = "section-subheading"> What are the products France imported the most in 2016 ? </h4>
                    <h5>Table of top importations</h5>
                    <iframe width="900" height="500" frameborder="0" scrolling="no" src="//plot.ly/~Valoctocat/0.embed"></iframe>
                  <h4 class = "section-subheading"> A closer look for each month </h4>
                    <h5>Top products per month</h5>
                    <iframe width="900" height="500" frameborder="0" scrolling="no" src="//plot.ly/~Valoctocat/8.embed"></iframe>
                    <h5>Focus on cereals</h5>
                    <iframe width="900" height="500" frameborder="0" scrolling="no" src="//plot.ly/~claranguyen/2.embed"></iframe>
                    <div class= "text-corps">
Among the top imported products are a lot of cereals like soy, colza seed and wheat.
Looking at the importance of cereals in importation, we figured that a lot of these cereales might not be imported for human consumption, but mostly for livestock: In France, there are more than 19 millions cows, 25 million pigs and 48 million fowl that have to be fed in addition to the human population. Therefore, most imported products are aimed to produce meat in France.
                    </div>
                    <h5>Import vs Export</h5>
                    <div class= "text-corps">
                      Most products are produced in France: France is the first agricultural power in Europe [http://www.lafranceagricole.fr/actualites/eurostat-la-france-premiere-puissance-agricole-de-lue-1,0,624436187.html], and is 8th in the world. It is also a major exporter of agricultural products. Imported products is therefore only a small proportion (7%)  of products available in France.
However, we can observe that the proportion of imported products rises in winter: This is due to the fact that less products are able to grow in France during winter. The small proportion of imported products in December is related to the harvest of most cereals during this month, as indicated by our source for seasonal products: Greenpeace.fr[https://www.greenpeace.fr/guetteur/calendrier].
                    </div>
                  <h4 class = "section-subheading"> Where are these products coming from ? </h4>
                    <h5>Top countries</h5>
                    <div class= "text-corps">
                      Spain is by far the biggest importator to France. The bordering countries as Spain, Belgium, Germany and Italy are in the top 10 of importing countries, and the cost for transportation is therefore reduced.  Moreover, this results is also explained by European legislation promoting agricultural trade between countries.
One may wonder whether the types products imported from Spain are also produced in France. We may also wonder if we import products from Spain even though it is their season in France. To what extent is it necessary to import those products from Spain? Is the production in France not enough? Or is it because some products like vegetables and fruits are available earlier in the year in Spain due to the mediterranean weather?

Analyse par pays de où on importe bcp.
Espagne: analyse si on importe les produits en saison
When looking at the top imported products coming from Spain, we can observe that most of the categories are fruits and vegetables. This suggest that the weather in Spain makes it  more prone to grow such products throughout the year. However, looking if these products are imported when they are seasonal in France can be interesting:
                    </div>
                    <h5>Density of distance graph</h5>
                    <div class= "text-corps">The plot above represents the number of entry recorded in the importation file (independently of the mass imported) in function of their distance. We can observe a first peak recorded at low distances, that show the importance of neighboring countries for importation. A second peak for approximately 8000 km is observed. This corresponds to the distance separating France from continents on the other side of the Pacific ocean like Canada, or Brazil.
                    </div>
                    <h5>Mass distribution in function of distance</h5>
                    <iframe width="900" height="500" frameborder="0" scrolling="no" src="//plot.ly/~claranguyen/16.embed"></iframe>
                    <h5>Compare Distance per month bootstrapped</h5>
                    <iframe width="900" height="500" frameborder="0" scrolling="no" src="//plot.ly/~Valoctocat/42.embed"></iframe>
                    <h5>Correlation distance and out of season</h5>
                  <h4 class = "section-subheading">How are the products ... ?</h4>
                    <h5> Statistics on whether we import a lot our products in the seasonnal period or not </h5>
                  <h4 class = "section-subheading">Importations of cereals</h4>
                    <h5> Proportion of cerals importations compare to other products </h5>
            </div>
        </div>
    </div>
</section>
