<!-- About Section -->
<section id = "limitation" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conclusions</h2>
                  <p align="left">                    
                    By having a look at different aspects at recipes, we can conlude our work done so far:<br>
                    <i class="fa fa-check-square-o"></i> find out the popular seasonings, other ingredients and cooking methods of different countries.
                    <br>
                    <i class="fa fa-check-square-o"></i> find the similarities among recipes from the same country by transforming the steps from strings to vectors, then reduce the dimension using PCA and t-SNE.<br>
                    <i class="fa fa-check-square-o"></i> show the nutrition intake of all the 51 countries and its correlation with the health indices<br>
                    <i class="fa fa-check-square-o"></i> through sensitivity analysis, make the correlation between seasoning and the six health indices (high cholesterol, high blood pressure, NCD death probability, high blood glucose, overweight and life span) more convincing.<br><br>
                    Beside the work already done, there are something more that could be done in the future:<br>
                    <i class="fa fa-square-o"></i> The dataset we used are collected from Food.com and this is a website most popular in North American regions. So there may not be enough data about other areas and thus introduce bias to the analysis.<br>
                    <i class="fa fa-square-o"></i> The dosage of seasonings and ingredients are not available in the dataset. But relative information can be found on the website. The analysis could be more reliable and convincing when taking the dosage into consideration.<br>
                    <i class="fa fa-square-o"></i> The recipes are treated equally, which means whether the dish is preferred in real life is not taken into consideration. The reviews on Food.com could be used to better define the intake of seasonings and nutritions.<br>

                  </p> 
            </div>
        </div>
    </div>
</section>
