<!-- About Section -->
<section id = "limitation" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Limitations</h2>
                  <div class= "text-corps"> First, our list of seasonals is not exhaustive. As we are considering only products for which we have information about when it’s seasonal in France, we could be missing major importations or productions.  We also only considered crops and not meats, as they are not commonly associated with the concept of seasonal product. Therefore, our analysis is not fully representative of global importation in France, but is based only on a subset of products that can be produced in France
                  </div>
                <div class= "text-corps">
                  Moreover, we do not have any data for the food consumption in France. This would have been useful to compare the amount of importation with the consumption for a given month, to see for example if France imports more fruits in a certain season in response to high consumption.
                  Importations could aslo come from lower prices, or because the production is too low. However, such analysis is not possible with our datasets.
                </div>
                <div class="text-corps">
                  Another limitation is that the index calculated in our second tool does not consider the production in France. Our production dataset is annual, therefore, we could not calculate relevant data for each month. Also, interpretation of the index in this case would have been difficult to assess.
                  Indeed, it is not clear if it is better to import during the season of the product or when it’s not in season: Although importation might be more justified when it’s not the season of the product, demand for a specific product can rise during its season.
                  For example, strawberries are more popular during the summer. The country might ‘have’ to import strawberries from other countries in this case too.
                </div>
            </div>
        </div>
    </div>
</section>
