<!-- About Section -->
<section id = "limitation" >
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Conclusions</h2>
                  <p align="left">                    
                    By having a look at different aspects at recipes, we can conlude our work done so far:<br>
                    <i class="fa fa-check-square-o"></i> 

                  </p> 
            </div>
        </div>
    </div>
</section>
