<!-- Tools Section -->
<section id="tools" class="tools">
  <div class= container>
  <head>
  	<script src="https://d3js.org/d3.v4.js"></script>
  	<script src="https://cdnjs.cloudflare.com/ajax/libs/topojson/1.6.19/topojson.min.js"></script>
  	<script src="https://d3js.org/d3-geo-projection.v1.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

  <style>

  	.route {
  		fill: none;
  		/*stroke: #FFF;*/
  		/*opacity: 0.5;*/
  	}

  	.bar { fill: steelblue; }

  	.land {
  		fill:#a8ddb5;
  		stroke: #000;
    	stroke-width: 0.7px;}

  	.water {fill: #43a2ca;}

    .land:hover {
      fill:#f45642;
      stroke: #000;
  	  stroke-width: 0.7px;}
    }

  	svg { background: #ffffff ; }

  </style>


  </head>
  <div class="col-lg-12 text-center">
      <div class="row">
        <h2 class="section-heading">Visulization Tools</h2>
        <h4 class= subheading>Analysis per Country</h4>
        <div class="text-corps" width='300px'> Our first tool aims to give visualization of the major food importers in France: The opacity width of the route indicates the importance of an origin. You can also change the opacity of the marker to see less important origins appear. Click on a country to see the 5 most imported product from the country.
          <br\> (Arcs may prevent to click on a country, just hit "hide arcs")
        </div>
        <div class="column left">
          <controls float="right">
            <h3> Controls </h3>
            <p> Marker opacity</p>
            <input id="opacity" type="range" min="1" max="100" step="0.01" value="0.3" style="width: 160px"/>

            <p> Color </p>
            <input id="color" type="color" value="#FFFFFF"/>

            <p> Hide arcs </p>
            <input type="checkbox" id="hide"/>
          </controls>
        </div>
        <div class="column middle", id = "map", align = center>
        </div>
        <div class="column right">
          <h3 id = "Country-name">Country Exported Products</h3>
            <div id="Country", align = "center"></div>
        </div>
      </div>
      <div class="row">
        <br/>
        <br/>
        <h4 class= subheading>Analysis per product</h4>
        <div class= "text-corps"> Our second tool allows visualization of information for every food product: <br\>

          <ul>
            <li>Calendar displays the season of the product with bold white names. The color of the cell is mapped to the index between 0 and 1.
          Index is calculated by normalizing the mean distance of the month with the maximum mean distance of the year, and adding it to the normalized Math.
          Twice as much weight is given by the distance part of the index calculation.
          If the importation mass is significantly (95%) higher than for the rest of the year, the cell is marked with a '*' ('-' otherwise).
            </li>
            <li>Boxplot displays the distance distribution for this product
          </li>
            <li>Line Chart shows the variations of importations during the year. Season for the product is indicated in green  </li>
            <li>Bar chart displays the Top 5 importers in terms of Mass</li>
          </ul>
        </div>
        <div class="row-calendar">
          <table class="Calendar", id="calendar">
            <tbody>
            <tr>
              <td>Jan</td>
              <td>Feb</td>
              <td>Mar</td>
              <td>Apr</td>
              <td>May</td>
              <td>Jun</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            <tr>
              <td>Jul</td>
              <td>Aug</td>
              <td>Sep</td>
              <td>Oct</td>
              <td>Nov</td>
              <td>Dec</td>
            </tr>
            <tr>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
              <td>&nbsp;</td>
            </tr>
            </tbody>
          </table>
          <canvas width="512" height="10" id="cv"></canvas>
          <div width="512" height="10"> Index colormap (Red: 0, Green: 1)</div>
        </div>
        <div class="column2 left-product">
          <div class="row-product-top">
            <h4 id= "product_name">apricot</h4>
            <select id="menu"></select>
            <div id="product_list"></div>
          </div>
          <div class="row-product-btm", id="boxplot" ></div>
        </div>
        <div class="column2 middle-product">
          <div class="row-product", id="linechart"></div>
          <div class="row-product", id="barchart-prod"></div>
        </div>
      </div>
    </div>
    </div>
</section>
